In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("checkin_dataset.csv")
df.timestamp.unique()
df.user.unique()
df.xcoordinate.unique()
df.ycoordinate.unique()
df.timestamp.value_counts()
df.user.value_counts()
df.xcoordinate.value_counts()
df.ycoordinate.value_counts()
df.describe()

         Unnamed: 0          user   xcoordinate   ycoordinate
count  25668.000000  25668.000000  25668.000000  25668.000000
mean   12833.500000     38.167680      0.491567      0.437083
std     7409.857691     30.528581      0.474552      0.515695
min        0.000000      0.000000     -0.300062     -0.290196
25%     6416.750000      9.000000      0.211375     -0.025581
50%    12833.500000     34.000000      0.403102      0.312886
75%    19250.250000     63.000000      0.929187      0.883513
max    25667.000000     99.000000      1.369517      1.357176